<section id="slide" class="px-1 px-lg-0">
    <div class="container">
        <div class="row">
            <div class="slide-container ltr col-12 col-lg-8 p-1">
                <div class="main-slide owl-carousel">
                    <img class="slide-item" src="images/slides/1.jpg" alt="" />
                    <img class="slide-item" src="images/slides/2.jpg" alt="" />
                </div>
            </div>
            <div class="banners-container col-12 col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-6 h-50 banner-item p-1"><img src="images/slides/3.jpg" alt="" />
                    </div>
                    <div class="col-lg-12 col-6 h-50 banner-item p-1"><img src="images/slides/4.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>