{% extends "base/base.html" %}
{% block title %}
    {{ product.name }}
{% endblock title %}
{% block main %}
    <div class="container">
        <div class="row">
            <div id="page-content" class="col-12 col-md-6 col-lg-4 mx-auto">
                <div class="card-body">
                    <form action="{% url 'accounts:login_view' %}?next={{ next }}"
                          method="post">
                        {% include "components/forms.html" %}
                        <input type="submit" value="login" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
