{% load static %}
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="footer-slogan col-12 text-center">فوکالا، تجربه خرید آنلاین به یادماندنی</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="fookala-widget" class="footer-widget col-6 col-xl-2">
                <h4 class="widget-title">فوکالا</h4>
                <div class="widget-content">
                    <ul>
                        <li>بلاگ فوکالا</li>
                        <li>درباره فوکالا</li>
                        <li>تماس با ما</li>
                        <li>همکاری با ما</li>
                        <li>ثبت‌نام سوپرمارکت</li>
                    </ul>
                </div>
            </div>
            <div id="customers-widget" class="footer-widget col-6 col-xl-2">
                <h4 class="widget-title">مشتریان</h4>
                <div class="widget-content">
                    <ul>
                        <li>حساب کاربری</li>
                        <li>تاریخچه سفارشات</li>
                        <li>شرایط حمل و نقل</li>
                        <li>شرایط مرجوعی</li>
                        <li>حریم خصوصی</li>
                    </ul>
                </div>
            </div>
            <div id="contact-widget" class="footer-widget col-12 col-sm-6 col-xl-4">
                <h4 class="widget-title">اطلاعات تماس</h4>
                <div class="widget-content">
                    <div class="address"><i class="fas fa-map-marker-alt"></i> تهران - شهرک غرب، بلوار فرحزادی،
                        خیابان حافظی، پلاک 48، واحد 8</div>
                    <div class="telephone ltr text-left"><i class="fas fa-phone"></i> 021 - 22139201</div>
                    <div class="email ltr text-left"><i class="fas fa-envelope"></i> info[at]fookala[dot]com
                    </div>
                </div>
            </div>
            <div id="logos-widget" class="footer-widget col-12 col-sm-6 col-xl-4">
                <h4 class="widget-title">اطمینان از خرید</h4>
                <div class="widget-content">
                    <img src="{% static 'images/logos/logo-e.jpg' %}" alt="enamad-logo" />
                    <img src="{% static 'images/logos/logo-s.jpg' %}" alt="samandehi-logo" />
                    <img src="{% static 'images/logos/logo-k.jpg' %}" alt="kasbokar-logo" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="copyright col-12 text-center"><i class="far fa-copyright"></i> ۱۳۸۱-۱۳۹۹ کلیه حقوق محفوظ است.
            </div>
        </div>
    </div>
</footer>