<section id="top-sale" class="carousel-box px-1 px-lg-0">
    <div class="container">
        <div class="row px-1">
            <div class="box-wrap">
                <div class="title-wrap col-12">
                    <h4>پرفروش‌ترین</h4> <a href="#"><span>(مشاهده همه)</span></a>
                </div>
                <div class="carousel-container ltr col-12 p-1">
                    <div class="products-carousel owl-carousel">
                        <div class="card">
                            <img class="slide-item" src="images/products/1.jpg" alt="" />
                            <div class="card-body">
                                <h5 class="card-title">دستمال کاغذی سافتلن</h5>
                                <div class="product-price"><del>7,000</del><span>6,000 تومان</span>
                                </div>
                                <button href="#" class="btn btn-cart"><i class="fas fa-plus"></i> افزودن به
                                    سبد</button>
                            </div>
                        </div>
                        <div class="card">
                            <img class="slide-item" src="images/products/2.jpg" alt="" />
                            <div class="card-body">
                                <h5 class="card-title">کرم روشن کننده بورژوا</h5>
                                <div class="product-price"><del>8,500</del><span>7,000 تومان</span>
                                </div>
                                <button href="#" class="btn btn-cart"><i class="fas fa-plus"></i> افزودن به
                                    سبد</button>
                            </div>
                        </div>
                        <div class="card">
                            <img class="slide-item" src="images/products/3.jpg" alt="" />
                            <div class="card-body">
                                <h5 class="card-title">کرم ضد آفتاب سینره</h5>
                                <div class="product-price"><del>9,000</del><span>8,000 تومان</span>
                                </div>
                                <button href="#" class="btn btn-cart"><i class="fas fa-plus"></i> افزودن به
                                    سبد</button>
                            </div>
                        </div>
                        <div class="card">
                            <img class="slide-item" src="images/products/4.jpg" alt="" />
                            <div class="card-body">
                                <h5 class="card-title">کرم نرم کننده پوست سینره</h5>
                                <div class="product-price"><del>19,500</del><span>17,000 تومان</span>
                                </div>
                                <button href="#" class="btn btn-cart"><i class="fas fa-plus"></i> افزودن به
                                    سبد</button>
                            </div>
                        </div>
                        <div class="card">
                            <img class="slide-item" src="images/products/5.jpg" alt="" />
                            <div class="card-body">
                                <h5 class="card-title">اسپری خوشبو کننده آنیکا</h5>
                                <div class="product-price"><del>25,300</del><span>24,000 تومان</span>
                                </div>
                                <button href="#" class="btn btn-cart"><i class="fas fa-plus"></i> افزودن به
                                    سبد</button>
                            </div>
                        </div>
                        <div class="card">
                            <img class="slide-item" src="images/products/6.jpg" alt="" />
                            <div class="card-body">
                                <h5 class="card-title">کرم ذغال ضدعفونی کننده آنیکا</h5>
                                <div class="product-price"><del>46,500</del><span>45,000 تومان</span>
                                </div>
                                <button href="#" class="btn btn-cart"><i class="fas fa-plus"></i> افزودن به
                                    سبد</button>
                            </div>
                        </div>
                        <div class="card">
                            <img class="slide-item" src="images/products/7.jpg" alt="" />
                            <div class="card-body">
                                <h5 class="card-title">چای سیاه ارل گری اویلا</h5>
                                <div class="product-price"><del>29,000</del><span>27,000 تومان</span>
                                </div>
                                <button href="#" class="btn btn-cart"><i class="fas fa-plus"></i> افزودن به
                                    سبد</button>
                            </div>
                        </div>
                        <div class="card">
                            <img class="slide-item" src="images/products/8.jpg" alt="" />
                            <div class="card-body">
                                <h5 class="card-title">روغن خوراکی مصرف خانوار - جامد 500 گرمی</h5>
                                <div class="product-price"><del>36,100</del><span>35,000 تومان</span>
                                </div>
                                <button href="#" class="btn btn-cart"><i class="fas fa-plus"></i> افزودن به
                                    سبد</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>